@CHARSET "UTF-8";

.container {
	width: 100%;
	height: 600px;
}

.left {
	width: 36%;
	height: 100%;
	float: left;
}

.inbox-header {
	width: 50%;
	height: 11%;
	float: left;
}

.inbox {
	float: left;
	width: 50%;
}

.unread {
	float: right;
	width: 50%;
}

.latest-conversations {
	width: 100%;
	height: 89%;
	float: left;
}

.latest-conversation {
	
}

.right {
	width: 64%;
	height: 100%;
	float: right;
}

.selected-conversation-thread-header {
	width: 100%;
	height: 11%;
	float: right;
}

.conversation-with {
	width: 50%;
	float: left;
}

.new-message-button {
	width: 50%;
	float: right;
}

.selected-conversation-thread {
	width: 100%;
	height: 65%;
	float: right;
	overflow: auto;
}

.reply-box {
	width: 100%;
	height: 24%;
	float: left;
}

.reply-button {
	float:right;
}

.message {
	width: 100%;
	float: left;
}

.message-photo {
	width: 10%;
	height: 100%;
	float: left;
}

.message-text {
	width: 90%;
	float: left;
	word-wrap: break-word;
}