@CHARSET "UTF-8";

#container-div {
	width: 100%;
	height: 600px;
}

#left-div {
	width: 36%;
	height: 100%;
	float: left;
	padding: 0 1px 0px 3px;
	margin-left: -10px;
	border-left: 1px solid #E9EAED;
	border-right: 1px solid #E9EAED;
}

#inbox-header-div {
	height: 7%;
	float: left;
	font-weight: bold;
	padding: 0 15px 0 5px;
	width: 103%;
	border-bottom: 2px solid #E9EAED;
}

#inbox-heading-span {
	float: left;
}

#conversations-div {
	width: 100%;
	height: 89%;
	float: left;
	overflow: auto;
}

.conversation-div {
	height: 11%;
	position: relative;
	cursor: pointer;
}

div.conversation-div:hover {
	background-color: #E0E4EE;
}

.conversation-photo-div {
	width: 20%;
	height: 100%;
	float: left;
}

.conversation-details-div {
	width: 80%
	height: 100%;
}

.conversation-participants-div {
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.conversation-date-div {
	float:right;
	color: #BFBFBF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size:85%
}

.conversation-text-div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #BFBFBF;
}

#right-div {
	width: 64%;
	height: 100%;
	float: right;
	border-right: 1px solid #E9EAED;
}

#selected-conversation-thread-header-div {
	width: 100%;
	height: 7%;
	float: right;
	border-bottom: 2px solid #E9EAED;
}

#other-participants-div {
	width: 50%;
	float: left;
	font-size: 16px;
	font-weight: bold;
}

#action-buttons-div {
	width: 50%;
	float: right;
	font-weight: bold;
}

#new-message-button {
	float: right;
}

#delete-conversation-button {
	float: right;
}

#selected-conversation-thread-div {
	width: 100%;
	height: 69%;
	float: right;
	overflow: auto;
}

.message-div {
	width: 100%;
}

.message-photo-div {
	width: 10%;
	height: 100%;
	float: left;
	padding: 5px;
}

.message-header-div {
	padding: 5px 0px 5px 5px;
}

.message-date-div {
	float: right;
	color: #BFBFBF
}

.message-text-div {
	width: 90%;
	float: left;
	word-wrap: break-word;
}

#reply-box-div {
	width: 100%;
	height: 24%;
	float: left;
}

#reply-button {
	float: right;
}

#new-message-header-div {
	width: 100%;
	height: 7%;
	float: right;
	border-bottom: 2px solid #E9EAED;
	font-weight: bold;
	font-size: 16px;
}

#new-message-to-div {
	float: left;
	width: 100%
}

#to-span {
	float: left;
	width: 3.5%
}

#recipients-span {
	float: right;
	width: 96.5%
}

#new-message-suggestions-area-div {
	width: 100%;
	height: 65%;
	float: right;
	overflow: auto;
}

#new-message-textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#send-button {
	float: right;
}